.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.tarefas li div {
  display: flex;
  align-items: center;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #00b2db;
}

.tarefas li .edit:hover {
  color: #63c7dd;
  cursor: pointer;
  transition: all 0.5s;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #f20125;
}

.tarefas li .delete:hover {
  color: #f04c64;
  cursor: pointer;
  transition: all 0.5s;
}
